# Current client: 77c5oeofluou2n5htlk6gec0p7
VITE_COGNITO_CLIENT_ID=77c5oeofluou2n5htlk6gec0p7
VITE_COGNITO_REGION=ap-south-1
# Current API: https://api.ketoy.dev
VITE_API_BASE_URL=https://api.ketoy.dev
